<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextPad_.Properties.RecentFiles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TextPad_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextPad_.Properties.RecentFiles>
            <setting name="element0" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element1" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element2" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element3" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element4" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element5" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element6" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element7" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element8" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="element9" serializeAs="String">
                <value>Missing</value>
            </setting>
        </TextPad_.Properties.RecentFiles>
        <TextPad_.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>Russian</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>555</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>1050</value>
            </setting>
            <setting name="FormBorder" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordWarp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InstrumentalPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="RunFileToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusStripVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Explorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartScriptsConfig" serializeAs="String">
                <value>Python File</value>
            </setting>
            <setting name="ExplorerSize" serializeAs="String">
                <value>235</value>
            </setting>
            <setting name="PythonInterpreter" serializeAs="String">
                <value>Empty File</value>
            </setting>
            <setting name="ExitWhenClosingLastTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultEncoding" serializeAs="String">
                <value>UTF-8</value>
            </setting>
        </TextPad_.Properties.Settings>
    </userSettings>
</configuration>