<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <program name="TextPad+">
    <version>2.4.0</version>
    <path>D:\Ilya\Private\Scripts\C#\TextPad+ Прочие файлы\TextPad+ Current Release\</path>
    <language>Russian</language>
  </program>
  <web>
    <Site>https://mr-nichosik.github.io/Main_Page/</Site>
    <TextPadVersion>https://mr-nichosik.github.io/TextPadVersion/</TextPadVersion>
    <webSiteInstaller>https://github.com/Mr-Nichosik/TextPadPlus/releases/download/vCurrent/Setup.exe</webSiteInstaller>
    <webSiteNewUpdateRu>https://mr-nichosik.github.io/TextPadNewUpdateRu/</webSiteNewUpdateRu>
    <webSiteNewUpdateEn>https://mr-nichosik.github.io/TextPadNewUpdateEn/</webSiteNewUpdateEn>
  </web>
</configuration>