<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextPad_.Properties.RecentFiles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TextPad_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <!--List of 10 most recently opened files-->
        <TextPad_.Properties.RecentFiles>
            <setting name="RecentFile0" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile1" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile2" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile3" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile4" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile5" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile6" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile7" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile8" serializeAs="String">
                <value>Missing</value>
            </setting>
            <setting name="RecentFile9" serializeAs="String">
                <value>Missing</value>
            </setting>
        </TextPad_.Properties.RecentFiles>
      
      <!--Basic program settings. Change at your discretion.-->
        <TextPad_.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>Russian</value>
            </setting>
            <setting name="FormMainUI_Height" serializeAs="String">
                <value>555</value>
            </setting>
            <setting name="FormMainUI_Width" serializeAs="String">
                <value>1050</value>
            </setting>
            <setting name="FormMainUI_Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModifiedTextBox_WordWarp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ToolStrip_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormMainUI_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="RunFileToolStrip_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusStrip_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderExplorerPanel_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptTypeToRun" serializeAs="String">
                <value>Python File</value>
            </setting>
            <setting name="FolderExplorerPanel_Size" serializeAs="String">
                <value>235</value>
            </setting>
            <setting name="PythonInterpreterPath" serializeAs="String">
                <value>Empty File</value>
            </setting>
            <setting name="ExitWhenClosingLastTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultEncoding" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModifiedTextBox_Font" serializeAs="String">
                <value>Cascadia Code, 10pt</value>
            </setting>
            <setting name="AutoSubstitutionOfClosingCharacters" serializeAs="String">
                <value>True</value>
            </setting>
        </TextPad_.Properties.Settings>
    </userSettings>
</configuration>